@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    background-color: #181818;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
@layer components{

    .showedCard{
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: #0f0f0f;
        width: 1.75rem;
        height:  1.75rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
    }
    .showedCard2{
        position: absolute;
        top: 40px;
        right: 8px;
        background-color: #0f0f0f;
        width: 1.75rem;
        height:  1.75rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
    }
    .showedCard3{
        position: absolute;
        top: 0;
        right: -22rem;
        background-color: #0f0f0f;
        width: 1.75rem;
        height:  1.75rem;
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
    }
} 

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #717171;
    border-radius: 1rem;
}